<div class="card">
  <img class="card__image" src="/images/<%= product.image_url %>" alt="pizza" />
  <div class="card__content">
    <h1 class="card__title"><%= product.name %></h1>
    <p class="card__description"><%= product.description %></p>
    <p class="card__price">€<%= product.price %></p>
  </div>
</div>
