<div class="news_list">
  <% products.forEach((item => { %>
  <a href="/product/<%= item.slug%>" class="news_item">
    <span><%= item.name %></span>
    <img src="images/<%= item.image_url %>" alt="nwsnwsnws" />
  </a>
  <% })) %>
</div>
