<div class="news_list">
  <% products.forEach((item => { %>
  <a href="detail.html" class="news_item">
    <span><%= item.name %></span>
    <img src="images/<%= item.image_url %>" alt="nwsnwsnws" />
  </a>
  <% })) %>
</div>
