<div class="news_list">
  <% products.forEach((item => { %>
  <h2>Product name is <%= item %></h2>
  <% })) %>
  <a href="detail.html" class="news_item">
    <span>Mazelen in opmars</span>
    <img src="images/1.webp" alt="nwsnwsnws" />
  </a>
  <a href="detail.html" class="news_item">
    <span>Schilderij na 50 jaar terug</span>
    <img src="images/2.webp" alt="nwsnwsnws" />
  </a>
  <a href="detail.html" class="news_item">
    <span>Roblox verslavend</span>
    <img src="images/3.webp" alt="nwsnwsnws" />
  </a>
</div>
